/* @import url("https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap");
/* Parallax */
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav {
}
.banner-logo {
    width: 70vw;
    object-fit: contain;
}
.after-header {
    background-color: #28357f;
}
.wrapper {
    perspective: 1px;
    height: 500px;
}
.wrapper::after {
    transform: translateZ(-1px) scale(2);
    z-index: -1px;
}
